

/* GLOBALS */
#root {
    background-color: #f8f9fa;
}


  .account-link {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 20px;
    background-color: inherit;
    text-align: right;
  }


  .navbar {
      margin-bottom: 2%;
  }
  
  .navbar-collapse {
    margin-left: 35%;
  }

  @media screen and (max-width: 1400px) {
  
  .navbar-collapse {
    margin-left: 25%;
  }

  .dashboard-view .preferences label {
    font-size: 0.8rem;
}
  }

  @media screen and (max-width: 770px) {
    .navbar {
      margin-bottom: 10%;
  }
  
  .navbar-collapse {
    margin-left: 1%;
    font-size:0.6rem;  
}

  }
  
  
  .user-photo {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden; 
    border: 1px solid darkgrey;
  }

  .user-photo img {
    width: 90%;
  }

  .logo {
    margin-left: 1%;
  }
  
  .logo img {
    height: 3rem;
  }

  /* DASHBOARD PAGE */

.dashboard-view  {
    padding: 1%;
}

.dashboard-view .preferences {
    width: 90%;
    margin-left: 5%;
}

.dashboard-view .no-data {
    text-align: center;
}


/* SECTION CARD */

.dashboard-section .section-card {
  width: 90%;
  margin-left: 5%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  box-shadow: 7px 4px 5px 0 rgba(0, 0, 0, 0.2), 5px 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dashboard-section .section-card .card-header {
    cursor: pointer;
}

.dashboard-section .section-card .card-header .toggle {
    position: absolute;
    right: 2%;
    font-weight: 800;
}

.dashboard-section .section-card .card-body {
  margin-left:2.5%;
  margin-right:2.5%;
  padding-left: 0;
  padding-right: 0;
  overflow-y: hidden;
}

.dashboard-section .section-card .card-body table {
  margin: 0;
}

.dashboard-section .section-card th {
    color: white;
    background-color: steelblue;
}

.dashboard-section .section-card td {
    background-color: lightcyan;
}
